<div class="container-fluid">

  <div id="tabColles">
    <h3>Mes colles</h3>
    <div>
      <table class="display table-striped table-bordered" style="width:100%" id="tableColles">
        <thead>
          <tr>
            <th width="20%">Matière</th>
            <th width="40%">Professeur</th>
            <th width="10%">Note</th>
            <th width="20%">Date</th>
            <th width="10%">Détail</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
