<!-- Bandeau cookie comportant le message et le bouton pour éventuellement s'opposer -->
<div id="cookie-banner" class="cookie-banner">
<p class='small'>  Politique de protection de vos données personnelles (RGPD) <button id="cookie-more-button" name="cookie-more">En savoir plus</button></p>

</div>

<!-- Boite de dialogue comportant une description détaillée et deux boutons (confirmation, rejet) -->
<div id="cookie-inform-and-ask" class="cookie-inform-and-ask">
  <div class="cookie-dialog">
    <h2>Gestion des cookies</h2>
    <p>En poursuivant votre navigation, vous nous autorisez à déposer un cookie d'identification dans lequel est stocké un identifiant unique propre à chaque utilisateur enregistré dans une base de donnée. <br>
      Aucune information personnelle (adresse mail,nom, prénom ...) ne peut-être communiqué à un tiers via ce cookie.
    </p>
    <h3>Cookies & traceurs : que dit la loi ?</h3>
    <p>D'après la directive 2002/58/CE celui-ci ne nécessite pas une approbation de l'utilisateur voir : <a href='https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi'>CNIL</a>
    </p>
    <h2>Les données transmises et stockées</h2>
    <p>Les données recueillies sur e-kholle sont enrgistrées dans une base de données hébergée par la société 1and1 (1&1 Internet SARL
     7, place de la Gare BP 70109 57201 Sarreguemines Cedex ). Les données sont  disponibles pour les différents acteurs professeurs,
      élèves et administration sur la durée d'une année scolaire du 1 septembre au 15 juillet de l'année suivante. Les données seront ensuite archivées
     et conservées sur une période d'une année et mise à disposition de l'administration sur demande. </p>
    <div>

      <button id="cancel-button" name="cancel">Annuler</button>
      <button id="confirm-button" name="confirm">Ne plus voir le message</button>
    </div>
  </div>
</div>
