<!-- views/partials/head.ejs -->

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Gestion des interrogations orales CPGE">
<meta name="author" content="Yannick ORIEUX">
<title>
  <%= title %>
</title>
<script src='/jquery/dist/jquery.js'></script>



<link href="/stylesheets/style.css" rel="stylesheet">

<!-- Datatbles JS/CSS -->
<script type="text/javascript" src="/datatables.net/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<link href="/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Bootstrap core JS/CSS -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!--moment JS/CSS -->
<script src='/moment/moment.js'></script>
<script src='/moment/locale/fr.js'></script>

<!-- Bootstrap datetimepicker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />


<script src="/javascripts/bootstrap4-input-clearer.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<script type="text/javascript" src='/javascripts/dist/main.js'></script>
<!-- include summernote css/js-->
<link href="summernote.css" rel="stylesheet">
<script src="summernote.js"></script>
