<div id="addOrModMatiere" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addOrModMatiere" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="addOrModMatiereForm" data-mode="ajouter" data-idmatiere="" role="form">
        <fieldset>
          <div class="modal-header">
            <h4 class="modal-title">Ajouter ou modifier d'une matière</h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
          </div>
          <div class="modal-body">

            <div class="form-group has-feedback has-clear">
              <label for="nom">Nom :</label>
              <input class="form-control" type="text" name="nom" />
            </div>
            <div class="form-group has-feedback has-clear">
              <label for="generique">Générique :</label>
              <input class="form-control" type="generique" name="generique" />
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">ENREGISTRER</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
