
<div id="showTableClasses">
<h3>Mes classes</h3>
<p>Liste des colleurs intervenant sur mes classes</p>
	<div>
		<table class="table  table-striped table-bordered" id="tableMesClasses">
			<thead>
				<tr>
          <th width="15%">Classe</th>
					<th width="30%">Matière</th>
					<th width="40%">Professeur</th>
					<th width="15%">Durée (mn)</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
