


<div id="showTableDecompte">
<h3>Bilan des heures sur une période</h3>
	<div>
		<table class="table table-striped table-bordered" id="tableDecompte">
			<thead>
				<tr>
					<th width="40%">Nom</th>
					<th width="30%">Grade</th>
					<th width="15%">Nombre</th>
          <th width="15%">Total</th>
				</tr>
			</thead>
		</table>
	</div>


</div>
