<h3>Liste des élèves par classe</h3>

<div id="dataListe4" class="dataListe" data-type="classe" data-message='Sélectionner une classe dans la liste' data-placeholder='Choisir une classe'></div>

<div id="showTableEleves" style="display:none;">
<h3>Liste des eleves</h3>
	<div>
		<table class="table table-striped table-bordered" id="tableEleves">
			<thead>
				<tr>
					<th width="50%">Nom</th>
					<th width="25%">login</th>
          <th width="25%">Mot de passe</th>
				</tr>
			</thead>
		</table>
	</div>


</div>
