<li class="nav-item">
  <a id="navParam" class="nav-link" href="#">Paramétrage</a>
</li>
<li class="nav-item">
  <a id="navBilan" class="nav-link" href="#">Ramassages</a>
</li>
<li class="nav-item">
  <a id="navCompte" class="nav-link" href="#">Mon Compte</a>
</li>
