<!DOCTYPE html>
<html>
  <head>
      <% include partials/head %>
  </head>
  <body data-page="admin" data-profil=<%= profilAdmin %>>
    <div class="container">
      <header>
        <% include partials/header %>
      </header>
      <main>
        <div class="tab-content">
        <% include partialsAdmin/parametrage%>
        <% include partialsAdmin/ramassages%>
        <% include partials/password %>
        <% include partialsAdmin/help%>
      </div>
        <% include partials/erreur %>
        <% include partials/validation %>
        <% include partials/formContact %>
      </main>
      <footer>
        <% include partials/footer %>
      </footer>
    </div>
  </body>
</html>
