<!DOCTYPE html>
<html>

<head>
    <% include partials/fastHead %>
</head>

<body>
  <div class="container-fluid">
    <header>
      <% include partials/header %>
    </header>
    <main>
      <div class="container">
        <h1>e-khôlle</h1>
        <p>e-khôlle est un outil de suivi pédagogique pour les interrogations orales en CPGE <br>
        </p>
        <form id='selectEtab' action="/choixEtab" method="post">
          <div class="form-group ">
            <label>Votre établissement</label>
            <div class="form-group">
              <select name="etablissement">
                <option value="bergson">bergson</option>
                <option value="test">test</option>
              </select>
            </div>
          </div>
          <div class="form-inline ">
            <div>
              <button type="submit" class="btn btn-primary">ENVOI</button>
            </div>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <% include partials/footer %>
    </footer>
  </div>
</body>

</html>
