<!DOCTYPE html>
<html>

<head>
    <% include partials/fastHead %>
</head>

<body data-page="home">
  <div class="container-fluid">
    <header>
      <% include partials/header %>
    </header>
    <main>
      <div class="container">
        <h1>e-khôlle</h1>
        <p>e-khôlle est un outil de suivi pédagogique pour les interrogations orales en CPGE <br>
        </p>
        <div id="dataListe1" class="dataListe" data-type="etablissement" data-message='Sélectionner un établissement dans la liste' data-placeholder='Choisir un établissement'></div>
        <p>
          L'application est compatible avec les navigateurs chrome, firefox et edge mais non compatible avec internet explorer <br>
        </p>
      </div>



    </main>
    <footer>
      <% include partials/footer %>
    </footer>
  </div>
</body>

</html>
