<!DOCTYPE html>
<html lang="fr">

<head>
  <% include partials/fastHead %>
</head>

<body data-page="login">
  <header>
    <% include partials/header %>
  </header>
  <main>

    <div class="container">
      <div>
        <% if (locals.messages) { %>
          <p style="color:red">
            <%=  locals.messages.msg  %>
          </p>
          <% } %>
     </div>
     <div>
          <%if (page === 'login') { %>
                   <% include partials/login %>
              <% } %>

              <%if (page === 'password') { %>
                 <% include partials/password %>
                  <% } %>
                <% include partials/cookie %>
      </div>
      <% include partials/erreur %>
      <hr>
    </div>
  </main>
  <footer>
    <% include partials/footer %>
  </footer>
</body>

</html>
