<!DOCTYPE html>
<html>
  <head>
      <% include partials/head %>

  </head>
  <body data-page="professeur" data-idprofesseur=<%= id %>  >
    <div class="container">
      <header>
        <% include partials/header %>
      </header>
      <main>
        <% include partialsProfesseur/parametrage%>
        <% include partialsProfesseur/colles%>
        <% include partialsProfesseur/help%>
        <% include partials/password %>
        <% include partials/erreur %>
        <% include partials/formContact %>
      </main>
      <footer>
        <% include partials/footer %>
      </footer>
    </div>
  </body>
</html>
