<!DOCTYPE html>
<html>
  <head>
      <% include partials/head %>

  </head>
  <body data-page="professeur" data-idprofesseur=<%= id %> >
    <header>
      <% include partials/header %>
    </header>
    <main class="container">
      <% include partialsProfesseur/parametrage%>
      <% include partialsProfesseur/colles%>
      <% include partials/password %>
      <% include partials/erreur %>
    </main>
    <footer>
      <% include partials/footer %>
    </footer>
  </body>
</html>
