<h3>Paramétrer les équipes de chaque  classe</h3>
<div id="dataListe1" class="dataListe" data-type="classe" data-message='Sélectionner une classe dans la liste' data-placeholder='Choisir une classe'></div>

<div id="showTableEquipeClasse" style="display:none;">
	<button class="btn btn-primary" id="modalAddMatiere">Ajout Matière</button>

	<div>
		<table class="table table-striped table-bordered" id="tableEquipeClasse">
			<thead>
				<tr>
					<th width="50%">Matière</th>
					<th width="40%">Professeur</th>
					<th width="10%">Durée (mn)</th>
					<th width="10%">Extra (mn)</th>
				</tr>
			</thead>
		</table>
	</div>

	<button class="btn btn-primary" id="buttonAddSuppPeriode" data-action='ajout'></button>
	<p></p>
	<div id="defExtraPeriode" style="display:none;">
		<form id="defExtraPeriodeForm" role="form">
			<fieldset>
				<div class="row">
					<div class='col-md-4'>
						<div class="form-group">
							<div class="input-group date" id="datetimepicker7" data-target-input="nearest">
								<input type="text" class="form-control datetimepicker-input" required data-target="#datetimepicker7" />
								<div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
									<div class="input-group-text"><i class="fa fa-calendar"></i></div>
								</div>
							</div>
						</div>
					</div>
					<div class='col-md-4'>
						<div class="form-group">
							<div class="input-group date" id="datetimepicker8" data-target-input="nearest">
								<input type="text" class="form-control datetimepicker-input" required data-target="#datetimepicker8" />
								<div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
									<div class="input-group-text"><i class="fa fa-calendar"></i></div>
								</div>
							</div>
						</div>
					</div>

					<div class='col-md-3'>
						<button type='submit' class="btn btn-primary" id="sauverPeriode">Sauver/Modifier</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
