<div id="niveauClasse" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="niveauForm" role="form" data-mode="modifier" data-idclasse="" role="form">
        <fieldset>
          <div class="modal-header">
            <h4 class="modal-title">Modifier niveau classe</h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <h3>Choisir le niveau de la classe : </h3>
              <div class="radio">
                <label>
                  <input type="radio" name="niveau" value='1' >1ère année
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="niveau" value='2' > 2nde année
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">ENREGISTRER</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
