<div id="defExtraPeriode" style="display:none;">
  <hr>
  <form id="defExtraPeriodeForm" role="form">
    <fieldset>
      <div class="row">
        <div class='col-md-4'>
          <div class="form-group">
            <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input" required data-target="#datetimepicker7" />
              <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class="form-group">
            <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input" required data-target="#datetimepicker8" />
              <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <button type='submit' class="btn btn-primary float-right" id="sauverPeriode">Sauver/Modifier</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
