<div id="showTableMatieres">
<h3>Définition des matières</h3>
	<div>
		<table class="table table-striped table-bordered" id="tableMatieres">
			<thead>
				<tr>
					<th width="50%">Matière</th>
					<th width="50%">Matière Générique</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
