<div class="container">

    <h3>Opérations sur la base </h3>
    <p>
      Supprimer les élèves non affectés à une classe : <a id='nettoyer' data-toggle="modal"  href="#confirmerMessage">Nettoyer la base élève</a><br>
      Rafraîchir après l'ajout ou l'import d'élèves <a id='rafraichir' data-toggle="modal" href="#confirmerMessage">Rafraîchir la structure</a>
    </p>

  <h3>Structure des classes </h3>
  <div>
    <table class="table table-striped table-bordered" style="width:100%" id="tableStructure">
      <thead>
        <tr>
          <th width="30%">Nom</th>
          <th width="10%">Niveau</th>
          <th width="10%">Effectifs</th>
          <th width="40%">Catégorie</th>
          <th width="10%">Edit.</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
