<div id="addColleModal" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="addColle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form id="addColleForm" data-mode="ajouter" data-idcolle="" role="form">
        <fieldset>
          <div class="modal-header">
            <h4 class="modal-title">Ajouter une colle</h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
          </div>
          <div class="container modal-body">


            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  <p><b>Interrogation saisie le : <span id='dateSaisie'></span></b></p>
                </a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                  <div id="dataListe2" class="dataListe" data-type="eleve" data-message='Sélectionner un élève dans la liste' data-placeholder='Choisir un élève'></div>
                  <div class="row">
                    <div class="col-md-6">
                      <!-- <div class="form-group has-feedback has-clear">
                        <label for="note">Note :</label>
                        <input class="form-control" type="number" id="note" required name="note" step="0.1" min="0" max="20" />
                      </div> -->
                      <div id="dataListe6" class="dataListe" data-type="note"></div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group has-feedback has-clear">
                        <label>Date:</label>
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                          <input id="dateColle" required type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                          <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">Sujet et observations (facultatif)</a>
              </div>
              <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group has-feedback has-clear">
                        <label for="sujet">Sujet :</label>
                        <input class="form-control" type="text" id="sujet" name="sujet">
                      </div>
                    </div>

                    <div class="col-md-8">
                      <label for="obsCoordo">Commentaires à destination du coordonnateur de la discipline :    </label>
                    </div>
                    <div class="col-md-4">
                      <button id="buttonValidCoo" class="btn btn-primary  float-right" type="button" style='display :none'><i class='fa fa-eye' style='font-size:18px'></i></button>
                      <button id="buttonEditCoo" class="btn btn-primary  float-right" type="button"><i class='fa fa-edit' style='font-size:18px'></i></button>
                    </div>
                    <div class="col-md-12">
                      <div class='summernote' id="obsCoordo"></div>
                    </div>
                    <div class="col-md-8">
                      <label for="obsEleve">Commentaires à destination de l'élève :</label>
                    </div>
                    <div class="col-md-4">
                      <button id="buttonValidEleve" class="btn btn-primary  float-right" type="button" style='display :none'><i class='fa fa-eye' style='font-size:18px'></i></button>
                      <button id="buttonEditEleve" class="btn btn-primary  float-right" type="button"><i class='fa fa-edit' style='font-size:18px'></i></button>
                    </div>
                    <div class="col-md-12">
                      <div class="summernote" id="obsEleve"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button id='saveColleButton' type='submit' class="btn btn-primary">ENREGISTRER</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<style>
  .summernote {
    border: thin #CCC solid;
    min-height: 25px;
    padding: 5px;
    margin-bottom: 5px;
  }
</style>
