<div class="container">
  <h4>Programmes en cours et à venir</h4>
  <div>
    <table class="display table-striped table-bordered" style="width:100%" id="tableProgrammeColleur">
      <thead>
        <tr>
          <th width="10%">Classe</th>
          <th width="30%">Professeur</th>
          <th width="10%">Debut</th>
          <th width="10%">Fin</th>
          <th width="30%">Titre</th>
          <th width="10%">Détail</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
