<div class="container">

  <h3>Choisir une classe</h3>
  <div class="row">
    <div class="col-md-6">
      <div id="dataListe8" class="dataListe" data-type="classematierecoordo" data-message='Sélectionner une classe dans la liste' data-placeholder='Choisir une discipline'></div>
    </div>
  </div>

  <div id="tabProgrammeCoordo" style="display:none;">
    <h3>Le programme</h3>
    <button id="buttonAddProgramme" type="button" class="btn btn-primary" data-toggle="modal">Ajouter un nouveau programme </button>

    <div>
      <table class="display table-striped table-bordered" style="width:100%" id="tableProgrammeCoordo">
        <thead>
          <tr>
            <th width="15%">Debut</th>
            <th width="15%">Fin</th>
            <th width="50%">Titre</th>
            <th width="10%">Détail</th>
            <th width="10%">Edit/Supp</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
