<div class="container-fluid">

  <h4>Programmes de colles  pour la classe de : </h4>
  <div class="row">
    <div class="col-md-6">
      <div id="dataListe8" class="dataListe" data-type="classematierecoordo" data-message='Sélectionner une classe dans la liste' data-placeholder='Choisir une classe'></div>
    </div>
    <div class="col-md-6">
      <button id="buttonAddProgramme" type="button" class="btn btn-primary float-right disabled" data-toggle="modal">Ajouter un nouveau programme </button>
    </div>
  </div>
  <hr>
  <div>
    <table class="display table-striped table-bordered" style="width:100%" id="tableProgrammeCoordo">
      <thead>
        <tr>
          <th width="15%">Debut</th>
          <th width="15%">Fin</th>
          <th width="50%">Titre</th>
          <th width="10%">Détail</th>
          <th width="10%">Edit/Supp</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
