<div class="container">

  <h4>Choisir une classe :</h4>


  <div id="dataListe5" class="dataListe" data-type="classematierecoordo" data-message='Sélectionner une classe dans la liste' data-placeholder='Choisir une classe'></div>


  <div id="tabCollesCoordo" style="display:none;">
    <h3>Toutes les colles</h3>
    <div>
      <table class="display table-striped table-bordered" style="width:100%" id="tableCollesCoordo">
        <thead>
          <tr>
            <th width="35%">Elève</th>
            <th width="35%">Professeur</th>
            <th width="8%">Note</th>
            <th width="22%">Inter. le </th>
            <th width="10%">Sujet</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
