<div class="container">
	<h3>Bilan des heures sur une période</h3>
	<div id="dataListe5" class="dataListe" data-type="periodes" data-message='Sélectionner une période dans la liste' data-placeholder='Choisir une période'></div>
	<div id="showTableDecompte" style="display:none;">
		<table class="table table-striped table-bordered" style="width:100%" id="tableDecompte">
			<thead>
				<tr>
					<th width="30%" >Nom</th>
					<th width="30%" >Grade</th>
					<th width="10%"><p>taux <br>06/01 1ere</p></th>
					<th width="10%"><p>taux <br>06/01 2eme</p></th>
					<th width="10%"><p>taux <br>07/90 1ere</p></th>
					<th width="10%"><p>taux <br>07/90 2eme</p></th>
					<th width="10%"><p>taux <br>08/91 1ere</p></th>
					<th width="10%"><p>taux <br>161/157 2eme</p></th>
				</tr>
			</thead>
		</table>
	</div>
</div>
