<div class="container">
	<h3>Choisir une classe</h3>
	<div id="dataListe4" class="dataListe" data-type="classe" data-message='Sélectionner une classe dans la liste' data-placeholder='Choisir une classe'></div>

	<div id="showTableEleves" style="display:none;">
	<h3>Liste des eleves</h3>
		<div>
			<table class="table table-striped table-bordered" style="width:100%" id="tableEleves">
				<thead>
					<tr>
						<th width="50%">Nom</th>
						<th width="25%">login</th>
	          <th width="25%">Mot de passe</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
