<div class="container">
  <!-- Links -->
  <p>
    <a id='nettoyer' data-toggle="modal"  href="#confirmerMessage">Nettoyer la base élève</a>
  </p>
  <!-- Links -->
  <p>
    <a id='rafraichir' data-toggle="modal" href="#confirmerMessage">Rafraîchir la structure pour retrouver les nouvelles classes</a>
  </p>
</div>
