<div id="uploadProfesseurs">
  <form id="uploadProfesseursForm" enctype="multipart/form-data">
    <fieldset>
      <!-- Default unchecked -->
      <div>

          <div class="form-group has-feedback has-clear">
            <label>Fichier CSV</label>
            <!-- The name here is important, and will be used later to reference the data -->
            <input class='form-control' type="file" id="csvdataProf" name="csvdata" accept="text/csv">
          </div>


      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Charger</button>
      </div>
    </fieldset>
  </form>
</div>
<div id="showTableImportProfesseurs" style="display:none;">
  <h3>Liste des professeurs</h3>
  <div>
    <table class="table table-striped table-bordered" style="width:100%" id="tableImportProfesseurs">
      <thead>
        <tr>
          <th width="15%">Nom</th>
          <th width="15%">Prénom</th>
          <th width="10%">grade</th>
          <th width="20%">email</th>
          <th width="20%">login</th>
          <th width="10%">Mot de passe</th>
          <th width="10%">Nouveau</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
