
<!-- Permet au coordo d'ajouter un colleur -->
<div id="addColleurClasse" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="addColleurForm" role="form">
        <fieldset>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            <h4 class="modal-title">Ajouter un colleur</h4>
          </div>
          <div class="modal-body">
            <div id="dataListe10" class="dataListe" data-type="classe" data-message='Sélectionner un professeur dans la liste' data-placeholder='Choisir un professeur'></div>
            <div id="dataListe11" class="dataListe" data-type="classematierecoordo" data-message='Sélectionner une association matiere/classe dans la liste' data-placeholder='Choisir une classe/matiere'></div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">ENREGISTRER</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
