<div id="addClasseProfesseur" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="addClasseForm" role="form">
        <fieldset>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            <h4 class="modal-title">Ajouter une matière</h4>
          </div>
          <div class="modal-body">
            <div id="dataListe3" class="dataListe" data-type="classe" data-message='Sélectionner une classe dans la liste' data-placeholder='Choisir une classe'></div>
            <div id="dataListe4" class="dataListe" data-type="classematiere" data-message='Sélectionner une matiere dans la liste' data-placeholder='Choisir une matiere'></div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">ENREGISTRER</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
