
<div class="container" id="showTableClasses">
<h3>Mes classes</h3>
<p>Liste des colleurs intervenant sur mes classes</p>
	<div>
		<table class="display  table-striped table-bordered" style="width:100%" id="tableMesClasses">
			<thead>
				<tr>
          <th width="20%">Classe</th>
					<th width="30%">Matière</th>
					<th width="50%">Colleur</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
