
<div class="container-fluid" id="showTableClasses">
<div class="row">
	<div class="col-md-8">
	<h4>Liste des colleurs </h4>
	</div>
	<div class="col-md-4">
		<button class="btn btn-primary float-right " id="buttonAddColleur">Ajouter un colleur à vos classes</button>
	</div>
</div>
	<div>
		<table class="display  table-striped table-bordered" style="width:100%" id="tableMesClasses">
			<thead>
				<tr>
          <th width="20%">Classe</th>
					<th width="30%">Matière</th>
					<th width="50%">Colleur</th>
					<th width="10%">Effectuées</th>
					<th width="10%">Supp</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
