
<div class="container" id="showTableCollesClasses">
	<div class="row">
		<div class="col-md-8">
		<h4>Mes heures de colle </h4>
		</div>
		<div class="col-md-4">
			<button class="btn btn-primary" id="buttonAddClasse">Ajouter une association classe/matiere</button>
		</div>
	</div>

	<div>
		<table class="display table-striped table-bordered" style="width:100%" id="tableMesCollesClasses">
			<thead>
				<tr>
          <th width="10%">Classe</th>
					<th width="20%">Matière</th>
					<th width="30%">Professeur</th>
					<th width="10%">Durée (mn)</th>
					<th width="10%">Effectuées</th>
					<th width="10%">Supp</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
