<div id='showColles' class='visible'>
	<div id="TabColle">
		<ul class="nav nav-pills">
			<li class="nav-item active pill-1">
				<a class="nav-link active" href="#1ac" data-toggle="tab">Ajout Colle</a>
			</li>
			<li class="nav-item pill-1"><a class="nav-link" href="#2ac" data-toggle="tab">Coordonnateur discipline</a>
			</li>
			<li class="nav-item pill-1"><a class="nav-link" href="#3ac" data-toggle="tab">Heures effectuées</a>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="1ac">
				<% include partialsColles/addColles%>
			</div>
			<div class="tab-pane" id="2ac">
				<ul class="nav nav-pills">
					<li class="nav-item pill-1 active"><a class="nav-link " data-toggle="tab" href="#subtab1c">Synthèse</a></li>
					<li class="nav-item pill-1"><a class="nav-link" data-toggle="tab" href="#subtab2c">Résultats</a></li>
				</ul>
				<div class="tab-content">
					<div id="subtab1c" class="tab-pane fade">
						<% include partialsColles/synthese%>
					</div>
					<div id="subtab2c" class="tab-pane fade">
							<% include partialsColles/resultats%>
					</div>
				</div>

			</div>
			<div class="tab-pane fade" id="3ac">
					<% include partialsColles/decompteHeures%>
			</div>
		</div>
	</div>
	<% include partialsColles/formAddColle%>
</div>
