<li class="nav-item">
  <a id="navParam" class="nav-link" href="#tabParam">Paramétrage</a>
</li>
<li class="nav-item">
  <a id="navColles" class="nav-link active" href="#TabColle">Colles</a>
</li>

<li class="nav-item">
  <a id="navCompte" class="nav-link" href="#">Mon Compte</a>
</li>

<li class="nav-item">
  <a id="navHelp" class="nav-link" href="#">Aide</a>
</li>
