<li class="nav-item">
  <li class="nav-item">
    <a id="navParam" class="nav-link active" href="#">Paramétrage</a>
  </li>
  <a id="navColles" class="nav-link" href="#">Colles</a>
</li>

<li class="nav-item">
  <a id="navCompte" class="nav-link" href="#">Mon Compte</a>
</li>
