<div id='showParam' class='visible' style="display:none">
	<div id="TabParam">
		<ul class="nav nav-pills">
			<li class="nav-item pill-1 active">
				<a class="nav-link active" href="#1a" data-toggle="tab">Mes colles</a>
			</li>
			<li class="nav-item pill-1"><a class="nav-link" href="#2a" data-toggle="tab">Mes classes</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="1a"  >
          <% include partialsParamColles/mesColles%>
					<% include partialsParamColles/formAddColleClasse%>
			</div>
			<div class="tab-pane" id="2a">
        <% include partialsParamClasses/mesClasses%>
			</div>
		</div>
	</div>
</div>
