
<div  class="container"id="showTableDecompte">
<h3>Bilan des heures sur une période</h3>
	<div>
		<table class="table table-striped table-bordered" style="width:100%" id="tableDecompte">
			<thead>
				<tr>
					<th width="50%">Classe</th>
					<th width="25%">Nombre</th>
          <th width="25%">Total</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
