<div class="container">
	<h4>Bilan des heures sur une période</h4>
	<div id="dataListe9" class="dataListe" data-type="periodes" data-message='Sélectionner une période dans la liste' data-placeholder='Choisir une période'></div>
	<div id="showTableDecompte" style="display:none;">
		<table class="table table-striped table-bordered" style="width:100%" id="tableDecompte">
			<thead>
				<tr>
					<th width="50%">Classe</th>
					<th width="25%">Nombre</th>
					<th width="25%">Total</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
