<h3>Choisir une classe :</h3>

<div class="row">
  <div class="col-md-6">
    <div id="dataListe7" class="dataListe" data-type="classematierecoordo" data-message='Sélectionner une classe dans la liste' data-placeholder='Choisir une discipline'></div>
  </div>
</div>

<div id="tabResultatsCoordo" style="display:none;">
  <h3>Bilan sur une période</h3>
  <div>
    <table class="display table-striped table-bordered"  style="width:100%" id="tableResultatsCoordo">
      <thead>
        <tr>
          <th width="35%">Elève</th>
          <th width="35%">Notes</th>
          <th width="15%">Moyenne</th>
          <th width="15%">Rang</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
