
<div id="showTableCollesClasses">
<h3>Liste des colles</h3>
<p>Enregistrer ci-dessous les classes dans lesquelles vous effectuez des heures de colles</p>
	<div>
		<table class="table  table-striped table-bordered" id="tableMesCollesClasses">
			<thead>
				<tr>
          <th width="15%">Classe</th>
					<th width="30%">Matière</th>
					<th width="40%">Professeur</th>
					<th width="15%">Durée (mn)</th>
				</tr>
			</thead>
		</table>
	</div>

 <button class="btn btn-primary" id="buttonAddClasse">Ajout Classe</button>
</div>
